fastapi
uvicorn
uv
gunicorn
python-dotenv
pdfplumber
pdfminer-six
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain-core
langchain-ollama
langchain-perplexity
openai
ollama
pinecone-client
pinecone
google-search-results
httpx
python-multipart
tiktoken
pydantic
pydantic-settings
jinja2
